{:paths ["src" "resources"]
 :deps {dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC3"}
        dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC3"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        lambdaisland/kaocha {:mvn/version "1.91.1392"}
        lambdaisland/uri {:mvn/version "1.19.155"}
        no.cjohansen/replicant {:mvn/version "2025.06.21"}
        ring/ring-core {:mvn/version "1.14.2"}}
 :aliases {:nextjournal/garden {:exec-fn hugin/start}}}
